.git
.gitignore
.github

vendor
node_modules

.env
.env.*
!.env.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore

bootstrap/cache/*
!bootstrap/cache/.gitignore

tests
.phpunit.result.cache
phpunit.xml

.idea
.vscode
.fleet
.DS_Store

*.md
!README.md

docker-compose.yml
Dockerfile
.dockerignore
